<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <context-param>
      <param-name>contextClass</param-name>
      <param-value>
         org.springframework.web.context.support.AnnotationConfigWebApplicationContext
      </param-value>
  </context-param>
  <context-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>org.manas.server.tomcat.config.SpringConfig</param-value>
  </context-param>
  <servlet>
      <servlet-name>MyServlet</servlet-name>
      <servlet-class>org.manas.server.tomcat.servlet.HelloServletXML</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>MyServlet</servlet-name>
      <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <listener>  
  <listener-class>  
   org.springframework.web.context.ContextLoaderListener  
  </listener-class>  
</listener>
</web-app>